.pillbox{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: text;
    position: relative;
}

.pillbox:hover .pillbox-options{
    display: inline;
}

.pillbox-input{
    border: none;
}

.pillbox li{
    display: inline-block;
    padding: 2px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: default;
}

.pillbox li span{
    cursor: pointer;
}

.pillbox-options{
    height: 100px;
    display: none;
    width: 100%;
    position: absolute;
    bottom: -101px;
    left: 0;
    z-index: 50;
}